---
import fondo from '../../assets/topbar-trailer-btn.svg'
---

<a href="/#trailer" class="mercar__button">
  VER TRAILER
</a>

<style define:vars={{ bgImage: `url(${fondo.src})` }}>
  .mercar__button {
    background-image: var(--bgImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    gap: 10px;
    text-decoration: none;
    color: var(--gold);
    font-family: var(--font-secondary);
    min-width: 200px;
    min-height: 37px;
  }

  .mercar__button:hover{
    filter:brightness(70%);
  }

  @media (max-width:414px ){
    .mercar__button {
      min-width: 100%;
    }
  }
</style>
